* { 
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
	font-family: 'Source Sans Pro', 'sans-serif';
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	color: black;
	text-transform: uppercase;	
}

.about h1,
.contact h1  {
	color: white;
}

h2 {
	color: #56BF83;
}

nav {
	position: fixed;
	z-index: 99;
	width: 100%;
	padding-top: 5px;
	background-color: #2ecc71;

}

ul {
	list-style: none;
	text-align: center;
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	
}

ul li {
	display: inline;
}
ul li a {
	float: left;
	text-decoration: none;
	width: 10%;
	color: white;
	height: 40px;
	font-weight: 500;
	letter-spacing: 1px;
}

ul li:first-child a {
	background-color: #2ecc71;
	margin-left: 5%;
	width: 15%;
	border: none;
	padding: 2px 0;
	font-size: 30px;
}

ul a {
	padding: 10px 0;
	border-right:1px solid white;
}

ul 

.content {
	width: 100%;
	text-align: center;
}
.homesplash,
.about,
.skills,
.contact {
	height: 600px;
	padding: 1px; /*force sections to align*/
	padding-top: 40px; /*sit above the nav */
}


.homesplash {
	height: 600px;
}

.homesplash,
.skills {
	background-image: url(../media/fabric_plaid.png);
	background-repeat: repeat;
}

.homesplash h2 {
	margin-top: 250px;
}

.about,
.contact,
ul {
	background: url(../media/darkdenim3.png);
}

.skills {
	
}


.contact {
	
}

footer {
	height: 100px;
	width: 100%;
	background-color: #2ecc71;
	padding-top: 10px;
}

/*SVG INFO*/

.custom-icon{
	width: 80px;
	height: 80px;

}


