

/*Hey, just submitted my application. Hope we get the chance to talk!*/


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
	font-family: 'Source Sans Pro', 'sans-serif';
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	color: black;
	text-transform: uppercase;
	font-size: 3.5em;
	margin-top: 0;	
}

.about h1,
.contact h1 {
	color: white;
}

h2 {
	color: #56BF83;
	font-size: 2.0em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/****************************************************
 ************** NAVIGATION BAR **********************
 ****************************************************/

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	padding-top: 5px;
	background-color: #2ecc71;
}

nav ul {
	list-style: none;
	text-align: center;
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;	
}

nav ul li {
	display: inline;
}

nav ul li a {
	float: left;
	text-decoration: none;
	width: 10%;
	color: white;
	height: 40px;
	font-weight: 500;
	letter-spacing: 1px;
}

nav ul li:first-child a {
	background-color: #2ecc71;
	margin-left: 5%;
	width: 15%;
	border: none;
	vertical-align: top;
	padding: 2px 0;
	font-size: 32px;
}

nav ul li a:hover {
	color: #2ecc71;
	transition: color 0.4s;
}

nav ul li:first-child a:hover {
	/*background-color: white;*/
	color: white;
	padding-left: 5px;
	letter-spacing: 10px;
	transition: letter-spacing 0.3s ;
}

nav ul a {
	padding: 10px 0;
	/*border-right:1px solid white;*/
}

/****************************************************
 ************** CONTENT *****************************
 ****************************************************/

.content {
	width: 100%;
	text-align: center;
}

/*wrapper for skills and work */
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.homesplash,
.about,
.skills,
.work,
.contact {
	min-height: 500px;
	padding: 1px; /*force sections to align*/
}

section.homesplash,
section.about,
section.skills,
section.work,
section.contact {
	padding: 100px 0;
}

/****************************************************
 **************  HOMESPLASH  ************************
 ****************************************************/

.homesplash{
	background-image: url(../media/bg-scaled.jpg);
	background-size: cover;
	background-position: center;
}

.homesplash {
	height: 600px;

}

.homesplash h2 {
	padding: 4% 0;
	color: #efefef;
	font:  46px 'Open Sans';
	text-transform: uppercase;
	margin: 0 15%;
	font-weight: 800;	
}

.homesplash h2 span {
	font-size: 72px;
}

.about,
.contact,
nav ul {
	background: url(../media/darkdenim3.png);
}

/****************************************************
 **************  ABOUT  *****************************
 ****************************************************/

.about {
	position: relative;
}

.about h2 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.about img{
	width: 200px;
	border-radius: 100px;
	border: 10px solid white;	
	margin: 25px 0;
}

.about a {
	margin-top: 26.25px;
	text-decoration: none;
	display: block;
	font-size: 18px;
	color: #2ecc71;
}

.about p{
	color: white;
	width:55%;
	margin: 15px auto;

	text-align: center;
	font-size: 19px;
	line-height: 35px;
}

/****************************************************
 **************  SKILLS  ****************************
 ****************************************************/


.skills {
	background: #efefef;
}

.skills,
li {
	font-weight: 600;
}

.dev,
.design,
.tools {
	float: left;
	width: 33%;
}

.dev-icon,
.design-icon,
.tools-icon {
	margin: 25px 0;
}

/*icon is left centric, push it over */
.design-icon {
	left: 15px;
	position: relative;
}
/****************************************************
 ************** FEATURED WORK ***********************
 ****************************************************/

 .work {
	min-height: 400px;
	background: url(../media/grey3.png) repeat;
 }

.work a {
	text-decoration: none;
	font-size: 18px;
	color: #56BF83;
}

.work p {
	max-width: 320px;
	margin: 0 auto 10px auto;
}


.workItem {
	float: left;
	padding: 50px;
	width: 50%;
	/*border: 1px solid black;*/
	height: 500px;

}

.workItem .imgHolder {
	min-height: 185px;
	max-height: 205px;
	width: 225px;
	padding: 10px;
	margin: 0 auto;	
}

.workItem img {
	width: 100%;
	border: 1px solid #000;
}

.cosella .imgHolder,
.solomon .imgHolder{
	margin-bottom: 15px;
}

/****************************************************
 ************** CONTACT *****************************
 ****************************************************/
.wrapper {
	max-width: 800px;
	margin: 25px auto;
}

form {
	width: 75%;
	display: block;
	position: relative;
	left: 12.5%;
}

input,
textarea {

	line-height: 2rem;
	width: 100%;
	font-size: 1.2rem;
	padding: 5px 10px;
	margin: 8px auto;

}

.contact p {
	color: white;
}

textarea {x
	height: 200px;
	resize: none;
	maxlength: 5000;
}

.contactsubmit {
	font-size: 1.5rem;
	padding: 10px;
	border-radius: 0;
	background: #2ecc71;
	border: 0;
	color: white;
	/*margin-bottom: 100px;*/
}

footer {
	height: 100px;
	width: 100%;
	background-color: #2ecc71;
	padding-top: 10px;
}

footer a {
	text-decoration: none;
}

/*SVG INFO*/

.custom-icon {
	position: relative;
	margin: 20px 10px 0 10px;
	width: 50px;
	height: 50px;
}

.inner-shape{
	fill: #2ecc71;
}

/****************************************************
************** RESPONSIVE D *************************
*****************************************************/


@media only screen and (max-width: 920px) {
	
	.workItem {
		width: 50%;

	}

	.cosella,
	.solomon {
		height: auto;

	}

	.saladClub,
	.mothersDay,
	.shitMps,
	.hackerWho {
		padding-top: 0;
	}

	.about p{
		margin: 0 auto;
		padding: 1% 8%;
		font-size: 17px;	
		width: 80%;
		line-height: 28px;
	}

}

@media only screen and (max-width: 695px) {
	
	.homesplash h2 {
		margin: 0;
	}

	.content #home h2 {
		font-size: 32px;
	}

	nav #home h2 span {
		font-size: 50px;
	}
}

@media only screen and (max-width: 610px) {
	
	nav ul li a {
		width: 16%;
	}

	.workItem {
		width: 100%;
		height: auto;
		padding-top: 0;
		padding: 0;
	}

	.workItem{

		margin-top: 60px;
	}

	.dev,
	.design,
	.tools {
		width: 100%;
		
	}

	.dev-icon,
	.design-icon,
	.tools-icon {

		margin-bottom: 0;
	}

	.design-icon,
	.tools-icon {
		margin-top: 75px;
	}

}

@media only screen and (max-width: 540px) {
	
	nav ul li:first-child a {
		padding: 2px 0;
		font-size: 28px;
	}

	.homesplash h2 span {
		font-size: 54px;
	}

	.about p {
		width:100%;
	}
}

@media only screen and (max-width: 450px) {
	#instagram {
		display: none;
	}
}


@media only screen and (max-width: 400px) {
	
	nav ul li:first-child a {
		padding: 8px 0;
		font-size: 18px;
		/*letter-spacing: 9px;*/
	}

	nav ul li:first-child a:hover {
		letter-spacing: 8px;	
	}

	.content #home h2 {
		font-size: 26px;
	}

	nav #home h2 span {
		font-size: 40px;
	}

	nav ul li a {
		width: 16%;
		font-size: 15px;
	}

	.imgHolder {
		width: 190px;
		padding: 0;
	}

	.dev {
		margin-top: 0;
	}

}

@media only screen and (max-width: 320px) {

	nav ul li:first-child a:hover {
		letter-spacing: 7px;	
	}

	nav ul li a { 
		font-size: 12px;
	}

	#codepen {
		display: none;
	}

	h1 {
		font-size: 3.1em;
	}
	.homesplash h2 span {
		font-size: 42px;
	}

}